.image1{
    margin-left: 300px;
 }
 .car1 img{
    margin-left: 400px;
    height: 70vh;
    width: 100vh;
 }
 .car1 p{
    font-size: 36px;
    margin-left: 400px;
    margin-right: 400px;
 }
 .car2 img{
    margin-left: 400px;
    height: 70vh;
    width: 100vh;
 }
 .car2 p{
    font-size: 36px;
    margin-left: 400px;
    margin-right: 400px;
 }
 .car3 img{
    margin-left: 400px;
    height: 70vh;
    width: 100vh;
 }
 .car3 p{
    font-size: 36px;
    margin-left: 400px;
    margin-right: 400px;
 }
 .car4 img{
    margin-left: 400px;
    height: 70vh;
    width: 100vh;
 }
 .car4 p{
    font-size: 36px;
    margin-left: 400px;
    margin-right: 400px;
 }
 .car4 img{
    margin-left: 400px;
    height: 70vh;
    width: 100vh;
 }
 .car4 p{
    font-size: 36px;
    margin-left: 400px;
    margin-right: 400px;
 }
 .car5 img{
    margin-left: 400px;
    height: 70vh;
    width: 100vh;
 }
 .car5 p{
    font-size: 36px;
    margin-left: 400px;
    margin-right: 400px;
 }
 .car6 img{
    margin-left: 400px;
    height: 70vh;
    width: 100vh;
 }
 .car6 p{
    font-size: 36px;
    margin-left: 400px;
    margin-right: 400px;
 }
 .car7 img{
    margin-left: 400px;
    height: 70vh;
    width: 100vh;
 }
 .car7 p{
    font-size: 36px;
    margin-left: 400px;
    margin-right: 400px;
 }
 .car8 img{
    margin-left: 400px;
    height: 70vh;
    width: 100vh;
 }
 .car8 p{
    font-size: 36px;
    margin-left: 400px;
    margin-right: 400px;
 }
 .car9 img{
    margin-left: 400px;
    height: 70vh;
    width: 100vh;
 }
 .car9 p{
    font-size: 36px;
    margin-left: 400px;
    margin-right: 400px;
 }